In [1]:
import pandas as pd
import numpy as np

import plotly.express as px

pd.set_option('display.max_columns', None)

In [2]:
# Change directory
import os
os.getcwd()

os.chdir('/home/main/Documents/GitHub/qminers-24/notebooks/')

In [3]:
old_games = pd.read_csv('../data/games.csv', index_col=0)
old_games.head()

,Season,Date,HID,AID,N,POFF,Open,OddsH,OddsA,H,A,HSC,ASC,HFGM,AFGM,HFGA,AFGA,HFG3M,AFG3M,HFG3A,AFG3A,HFTM,AFTM,HFTA,AFTA,HORB,AORB,HDRB,ADRB,HRB,ARB,HAST,AAST,HSTL,ASTL,HBLK,ABLK,HTOV,ATOV,HPF,APF
0,1,1975-11-07,13,28,0,0,1975-11-06,1.196537,4.833232,1,0,108,104,43.0,39.0,84.0,83.0,2.0,0.0,3.0,3.0,20.0,26.0,30.0,35.0,18.0,14.0,30.0,21.0,48.0,35.0,26.0,26.0,7.0,14.0,5.0,4.0,25.0,14.0,27.0,26.0
1,1,1975-11-07,20,12,0,0,1975-11-06,1.394620,2.957488,1,0,103,77,32.0,28.0,76.0,90.0,2.0,0.0,3.0,4.0,37.0,21.0,47.0,30.0,16.0,15.0,44.0,29.0,60.0,44.0,14.0,21.0,7.0,5.0,5.0,2.0,22.0,21.0,31.0,33.0
2,1,1975-11-07,43,8,0,0,1975-11-06,1.502570,2.536599,1,0,127,123,49.0,49.0,92.0,99.0,0.0,1.0,0.0,6.0,29.0,24.0,36.0,31.0,14.0,18.0,36.0,27.0,50.0,45.0,29.0,26.0,9.0,15.0,10.0,3.0,23.0,18.0,19.0,31.0
3,1,1975-11-07,33,4,0,0,1975-11-06,1.275743,3.778120,1,0,134,104,55.0,43.0,102.0,93.0,1.0,2.0,2.0,6.0,23.0,16.0,26.0,24.0,19.0,16.0,35.0,18.0,54.0,34.0,36.0,27.0,9.0,7.0,7.0,4.0,13.0,17.0,18.0,22.0
4,1,1975-11-07,41,34,0,0,1975-11-06,1.112895,7.379109,1,0,120,102,47.0,37.0,84.0,85.0,1.0,0.0,4.0,1.0,25.0,28.0,25.0,36.0,14.0,20.0,30.0,18.0,44.0,38.0,31.0,18.0,5.0,10.0,6.0,6.0,18.0,22.0,27.0,25.0

In [ ]:
new_games = pd.read_csv('../data-final/games.csv', index_col=0)
new_games.head()

,Season,Date,HID,AID,N,POFF,Open,OddsH,OddsA,H,A,HSC,ASC,HFGM,AFGM,HFGA,AFGA,HFG3M,AFG3M,HFG3A,AFG3A,HFTM,AFTM,HFTA,AFTA,HORB,AORB,HDRB,ADRB,HRB,ARB,HAST,AAST,HSTL,ASTL,HBLK,ABLK,HTOV,ATOV,HPF,APF
0,1,1999-11-02,19,31,0,0,1999-11-01,1.297721,3.449812,1,0,88,80,32.0,27.0,69.0,74.0,8.0,8.0,16.0,20.0,16.0,18.0,25.0,25.0,8.0,11.0,34.0,28.0,42.0,39.0,25.0,15.0,6.0,10.0,4.0,6.0,20.0,17.0,19.0,21.0
1,1,1999-11-02,3,43,0,0,1999-11-01,1.821203,1.921540,1,0,106,92,43.0,36.0,93.0,74.0,10.0,9.0,20.0,19.0,10.0,11.0,15.0,16.0,18.0,7.0,30.0,23.0,48.0,30.0,31.0,15.0,11.0,3.0,2.0,4.0,15.0,19.0,22.0,19.0
2,1,1999-11-02,17,32,0,0,1999-11-01,1.194219,4.552966,1,0,112,110,40.0,38.0,96.0,91.0,9.0,8.0,21.0,20.0,23.0,26.0,28.0,28.0,14.0,16.0,30.0,37.0,44.0,53.0,21.0,25.0,11.0,6.0,4.0,7.0,12.0,21.0,24.0,25.0
3,1,1999-11-03,25,26,0,0,1999-11-02,1.872070,1.866355,0,1,104,119,40.0,42.0,86.0,80.0,4.0,8.0,9.0,16.0,20.0,27.0,25.0,31.0,9.0,9.0,30.0,35.0,39.0,44.0,13.0,20.0,7.0,7.0,4.0,9.0,14.0,15.0,26.0,20.0
4,1,1999-11-03,11,41,0,0,1999-11-02,1.358847,3.066061,1,0,101,86,41.0,29.0,75.0,73.0,4.0,5.0,15.0,13.0,15.0,23.0,18.0,24.0,7.0,8.0,34.0,28.0,41.0,36.0,29.0,22.0,12.0,8.0,5.0,3.0,17.0,21.0,18.0,15.0

In [5]:
old_players = pd.read_csv('../data/players.csv', index_col=0)
old_players.head()

,Season,Date,Player,Team,Game,MIN,FGM,FGA,FG3M,FG3A,FTM,FTA,ORB,DRB,RB,AST,STL,BLK,TOV,PF,PTS
0,1,1975-11-07,3896,28,0,21.0,1,2.0,0.0,0.0,0,0.0,0.0,3.0,3.0,1.0,1.0,2.0,1.0,6.0,2
1,1,1975-11-07,4313,2,5,20.0,7,9.0,0.0,0.0,5,6.0,1.0,2.0,3.0,1.0,1.0,0.0,3.0,2.0,19
2,1,1975-11-07,1544,2,5,24.0,2,3.0,0.0,0.0,0,0.0,0.0,2.0,2.0,8.0,4.0,0.0,3.0,0.0,4
3,1,1975-11-07,1441,2,5,24.0,6,10.0,0.0,0.0,0,0.0,2.0,5.0,7.0,3.0,2.0,0.0,4.0,5.0,12
4,1,1975-11-07,955,2,5,4.0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0

In [ ]:
new_players = pd.read_csv('../data-final/players.csv', index_col=0)
new_players.head()

,Season,Date,Player,Team,Game,MIN,FGM,FGA,FG3M,FG3A,FTM,FTA,ORB,DRB,RB,AST,STL,BLK,TOV,PF,PTS
0,1,1999-11-02,866,19,0,40.5500,4,7,3,4,8,8,1,8,9,3,1,0,3,3,19
1,1,1999-11-02,1129,3,1,26.7833,8,17,3,8,0,0,5,6,11,1,1,0,2,3,19
2,1,1999-11-02,731,3,1,30.0333,6,11,0,0,1,1,4,6,10,3,1,1,1,2,13
3,1,1999-11-02,3133,3,1,39.8067,9,20,4,6,2,2,1,2,3,6,3,0,2,2,24
4,1,1999-11-02,1549,3,1,13.7333,3,5,0,0,0,0,1,1,2,0,0,0,0,0,6

In [8]:
# 1. Adjust new games index
new_games.index = new_games.index + old_games.index.max() + 1

# 2. Adjust new games season
new_games["Season"] = new_games['Season'] + old_games["Season"].max()

# 3. Adjust Game column in new players data
new_players["Game"] = new_players['Game'] + old_games.index.max() + 1
new_players["Season"] = new_players['Season'] + old_games["Season"].max()

# Now `new_games` index starts where `old_games` ended,
# `new_games` seasons start after `old_games` seasons,
# and `new_players` Game column matches the new `new_games` index.

In [11]:
# Verification function
def verify_players_and_games(new_players, new_games):
    # Initialize verification results
    team_match = []
    date_match = []

    for _, player_row in new_players.iterrows():
        # Get relevant data from players
        game_idx = player_row["Game"]
        team = player_row["Team"]
        player_date = player_row["Date"]

        # Get corresponding game row from new_games
        if game_idx in new_games.index:
            game_row = new_games.loc[game_idx]
            game_hid = game_row["HID"]
            game_aid = game_row["AID"]
            game_date = game_row["Date"]

            # Check team correspondence
            team_match.append(team in [game_hid, game_aid])

            # Check date consistency
            date_match.append(player_date == game_date)
        else:
            # If the game index doesn't exist in new_games, it's an error
            team_match.append(False)
            date_match.append(False)

    # Combine results
    all_team_match = all(team_match)
    all_date_match = all(date_match)

    # Print results for debugging
    print(f"Team match for all rows: {all_team_match}")
    print(f"Date match for all rows: {all_date_match}")

    if not all_team_match:
        print("Rows with mismatched team IDs:", [i for i, match in enumerate(team_match) if not match])

    if not all_date_match:
        print("Rows with mismatched dates:", [i for i, match in enumerate(date_match) if not match])

    # Return combined results for programmatic use
    return all_team_match and all_date_match

# Call the verification function
verification_result = verify_players_and_games(new_players, new_games)

# Output overall result
if verification_result:
    print("All checks passed! The new players data aligns with the new games data.")
else:
    print("There are mismatches in the new players and games data alignment.")

Team match for all rows: True
Date match for all rows: True
All checks passed! The new players data aligns with the new games data.

In [12]:
# Step 2: Tests for continuity and consistency
def test_continual_seasons(old_games, new_games):
    old_seasons = old_games['Season'].unique()
    new_seasons = new_games['Season'].unique()
    if new_seasons.min() < old_seasons.max():
        return "Error: New games include earlier seasons than the old dataset."
    return "Seasons are continual."

def test_continual_date_range(old_games, new_games):
    old_max_date = pd.to_datetime(old_games['Date']).max()
    new_min_date = pd.to_datetime(new_games['Date']).min()
    if new_min_date <= old_max_date:
        return "Error: New games include dates that overlap or precede the old dataset."
    return "Date ranges are continual."

def test_no_new_teams(old_games, new_games):
    old_teams = set(old_games['HID']).union(set(old_games['AID']))
    new_teams = set(new_games['HID']).union(set(new_games['AID']))
    new_only_teams = new_teams - old_teams
    if new_only_teams:
        return f"Error: New games include teams not found in the old dataset: {new_only_teams}."
    return "No new teams detected."

# Perform the tests
results = {
    "Continual Seasons": test_continual_seasons(old_games, new_games),
    "Continual Date Range": test_continual_date_range(old_games, new_games),
    "No New Teams": test_no_new_teams(old_games, new_games)
}

# Print results
for test, result in results.items():
    print(f"{test}: {result}")

Continual Seasons: Seasons are continual.
Continual Date Range: Date ranges are continual.
No New Teams: Error: New games include teams not found in the old dataset: {32, 36, 37, 6, 14, 23, 26, 29, 31}.

In [13]:
def get_number_of_teams(dataset):
    unique_teams = set(dataset['HID']).union(set(dataset['AID']))
    return len(unique_teams)

# Example usage:
old_teams_count = get_number_of_teams(old_games)
new_teams_count = get_number_of_teams(new_games)

print(f"Number of teams in the old dataset: {old_teams_count}")
print(f"Number of teams in the new dataset: {new_teams_count}")

Number of teams in the old dataset: 30
Number of teams in the new dataset: 30

In [14]:
def get_team_intersection(old_games, new_games):
    old_teams = set(old_games['HID']).union(set(old_games['AID']))
    new_teams = set(new_games['HID']).union(set(new_games['AID']))
    return old_teams.intersection(new_teams)

def get_team_difference(old_games, new_games):
    old_teams = set(old_games['HID']).union(set(old_games['AID']))
    new_teams = set(new_games['HID']).union(set(new_games['AID']))
    difference_1_to_2 = old_teams - new_teams
    difference_2_to_1 = new_teams - old_teams
    return difference_1_to_2, difference_2_to_1

# Example usage
intersection = get_team_intersection(old_games, new_games)
difference_1_to_2, difference_2_to_1 = get_team_difference(old_games, new_games)

print(f"Intersection (common teams): {intersection}")
print(f"Teams in old dataset but not in new dataset: {difference_1_to_2}")
print(f"Teams in new dataset but not in old dataset: {difference_2_to_1}")

Intersection (common teams): {0, 2, 3, 5, 11, 13, 15, 16, 17, 19, 21, 24, 25, 30, 33, 34, 35, 39, 41, 42, 43}
Teams in old dataset but not in new dataset: {1, 4, 8, 12, 44, 18, 20, 22, 28}
Teams in new dataset but not in old dataset: {32, 36, 37, 6, 14, 23, 26, 29, 31}

In [15]:
def get_total_teams(old_games, new_games):
    old_teams = set(old_games['HID']).union(set(old_games['AID']))
    new_teams = set(new_games['HID']).union(set(new_games['AID']))
    total_teams = old_teams.union(new_teams)
    return len(total_teams), total_teams

# Example usage
total_team_count, total_teams = get_total_teams(old_games, new_games)

print(f"Total number of unique teams across both datasets: {total_team_count}")
print(f"List of all unique teams: {total_teams}")

Total number of unique teams across both datasets: 39
List of all unique teams: {0, 1, 2, 3, 4, 5, 6, 8, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 41, 42, 43, 44}

In [16]:
all_games = pd.concat(
    [old_games, new_games]
)

In [ ]:
all_games.to_csv('../data-merge/games.csv')

In [18]:
# Renumber the index in the new players dataset
new_players.index = new_players.index + old_players.index.max() + 1

# Verify the result
print("Updated new players index:")
print(new_players.index)

Updated new players index:
Index([580088, 580089, 580090, 580091, 580092, 580093, 580094, 580095, 580096,
       580097,
       ...
       737106, 737107, 737108, 737109, 737110, 737111, 737112, 737113, 737114,
       737115],
      dtype='int64', length=157028)

In [21]:
all_players = pd.concat(
    [old_players, new_players]
)

In [ ]:
all_players.to_csv('../data-merge/players.csv')