In [1]:
import pandas as pd
import numpy as np

import plotly.express as px

pd.set_option('display.max_columns', None)

In [2]:
# Change directory
import os
os.getcwd()

os.chdir('/home/main/Documents/GitHub/qminers-24/notebooks/')

In [3]:
old_games = pd.read_csv('../data-merge/games.csv', index_col=0)
old_games.head()

,Season,Date,HID,AID,N,POFF,Open,OddsH,OddsA,H,A,HSC,ASC,HFGM,AFGM,HFGA,AFGA,HFG3M,AFG3M,HFG3A,AFG3A,HFTM,AFTM,HFTA,AFTA,HORB,AORB,HDRB,ADRB,HRB,ARB,HAST,AAST,HSTL,ASTL,HBLK,ABLK,HTOV,ATOV,HPF,APF
0,1,1975-11-07,13,28,0,0,1975-11-06,1.196537,4.833232,1,0,108,104,43.0,39.0,84.0,83.0,2.0,0.0,3.0,3.0,20.0,26.0,30.0,35.0,18.0,14.0,30.0,21.0,48.0,35.0,26.0,26.0,7.0,14.0,5.0,4.0,25.0,14.0,27.0,26.0
1,1,1975-11-07,20,12,0,0,1975-11-06,1.394620,2.957488,1,0,103,77,32.0,28.0,76.0,90.0,2.0,0.0,3.0,4.0,37.0,21.0,47.0,30.0,16.0,15.0,44.0,29.0,60.0,44.0,14.0,21.0,7.0,5.0,5.0,2.0,22.0,21.0,31.0,33.0
2,1,1975-11-07,43,8,0,0,1975-11-06,1.502570,2.536599,1,0,127,123,49.0,49.0,92.0,99.0,0.0,1.0,0.0,6.0,29.0,24.0,36.0,31.0,14.0,18.0,36.0,27.0,50.0,45.0,29.0,26.0,9.0,15.0,10.0,3.0,23.0,18.0,19.0,31.0
3,1,1975-11-07,33,4,0,0,1975-11-06,1.275743,3.778120,1,0,134,104,55.0,43.0,102.0,93.0,1.0,2.0,2.0,6.0,23.0,16.0,26.0,24.0,19.0,16.0,35.0,18.0,54.0,34.0,36.0,27.0,9.0,7.0,7.0,4.0,13.0,17.0,18.0,22.0
4,1,1975-11-07,41,34,0,0,1975-11-06,1.112895,7.379109,1,0,120,102,47.0,37.0,84.0,85.0,1.0,0.0,4.0,1.0,25.0,28.0,25.0,36.0,14.0,20.0,30.0,18.0,44.0,38.0,31.0,18.0,5.0,10.0,6.0,6.0,18.0,22.0,27.0,25.0

In [4]:
new_games = pd.read_csv('../data-final/games(1).csv', index_col=0)
new_games.head()

,Season,Date,HID,AID,N,POFF,Open,OddsH,OddsA,H,A,HSC,ASC,HFGM,AFGM,HFGA,AFGA,HFG3M,AFG3M,HFG3A,AFG3A,HFTM,AFTM,HFTA,AFTA,HORB,AORB,HDRB,ADRB,HRB,ARB,HAST,AAST,HSTL,ASTL,HBLK,ABLK,HTOV,ATOV,HPF,APF
0,1,2005-11-01,15,35,0,0,2005-10-31,1.069947,8.616537,1,0,117,88,45.0,32.0,94.0,87.0,13.0,9.0,35.0,27.0,14.0,15.0,19.0,20.0,11.0,13.0,40.0,29.0,51.0,42.0,31.0,17.0,12.0,6.0,5.0,6.0,15.0,18.0,22.0,22.0
1,1,2005-11-01,3,36,0,0,2005-10-31,1.344932,3.142772,1,0,113,104,39.0,40.0,75.0,82.0,13.0,8.0,19.0,24.0,22.0,16.0,22.0,16.0,5.0,6.0,29.0,25.0,34.0,31.0,22.0,19.0,5.0,9.0,3.0,5.0,13.0,14.0,18.0,19.0
2,1,2005-11-01,0,14,0,0,2005-10-31,1.488106,2.545649,0,1,100,129,40.0,47.0,85.0,98.0,7.0,12.0,33.0,24.0,13.0,23.0,18.0,26.0,8.0,21.0,27.0,34.0,35.0,55.0,24.0,25.0,11.0,13.0,6.0,3.0,16.0,14.0,19.0,19.0
3,1,2005-11-02,33,5,0,0,2005-11-01,1.308968,3.369176,1,0,109,91,41.0,35.0,86.0,84.0,3.0,4.0,18.0,22.0,24.0,17.0,29.0,22.0,14.0,8.0,37.0,32.0,51.0,40.0,17.0,17.0,8.0,8.0,0.0,0.0,12.0,14.0,22.0,24.0
4,1,2005-11-02,37,11,0,0,2005-11-01,1.401373,2.861429,1,0,130,121,47.0,45.0,93.0,104.0,10.0,18.0,19.0,48.0,26.0,13.0,34.0,18.0,8.0,10.0,44.0,39.0,52.0,49.0,30.0,26.0,11.0,8.0,6.0,8.0,16.0,15.0,23.0,27.0

In [5]:
old_players = pd.read_csv('../data-merge/players.csv', index_col=0)
old_players.head()

,Season,Date,Player,Team,Game,MIN,FGM,FGA,FG3M,FG3A,FTM,FTA,ORB,DRB,RB,AST,STL,BLK,TOV,PF,PTS
0,1,1975-11-07,3896,28,0,21.0,1,2.0,0.0,0.0,0,0.0,0.0,3.0,3.0,1.0,1.0,2.0,1.0,6.0,2
1,1,1975-11-07,4313,2,5,20.0,7,9.0,0.0,0.0,5,6.0,1.0,2.0,3.0,1.0,1.0,0.0,3.0,2.0,19
2,1,1975-11-07,1544,2,5,24.0,2,3.0,0.0,0.0,0,0.0,0.0,2.0,2.0,8.0,4.0,0.0,3.0,0.0,4
3,1,1975-11-07,1441,2,5,24.0,6,10.0,0.0,0.0,0,0.0,2.0,5.0,7.0,3.0,2.0,0.0,4.0,5.0,12
4,1,1975-11-07,955,2,5,4.0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0

In [6]:
new_players = pd.read_csv('../data-final/players(1).csv', index_col=0)
new_players.head()

,Season,Date,Player,Team,Game,MIN,FGM,FGA,FG3M,FG3A,FTM,FTA,ORB,DRB,RB,AST,STL,BLK,TOV,PF,PTS
0,1,2005-11-01,4092,35,0,16.61500,1,4,0,0,0,0,0,1,1,1,2,0,1,2,2
1,1,2005-11-01,1393,0,2,36.60000,11,18,1,3,4,5,0,10,10,4,2,2,0,2,27
2,1,2005-11-01,2018,0,2,26.80000,1,3,0,2,0,0,1,1,2,3,1,0,1,3,2
3,1,2005-11-01,3140,0,2,13.36170,2,8,0,4,1,2,0,0,0,2,0,1,0,0,5
4,1,2005-11-01,2280,0,2,3.68333,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [7]:
# 1. Adjust new games index
new_games.index = new_games.index + old_games.index.max() + 1

# 2. Adjust new games season
new_games["Season"] = new_games['Season'] + old_games["Season"].max()

# 3. Adjust Game column in new players data
new_players["Game"] = new_players['Game'] + old_games.index.max() + 1
new_players["Season"] = new_players['Season'] + old_games["Season"].max()

# Now `new_games` index starts where `old_games` ended,
# `new_games` seasons start after `old_games` seasons,
# and `new_players` Game column matches the new `new_games` index.

In [8]:
# Verification function
def verify_players_and_games(new_players, new_games):
    # Initialize verification results
    team_match = []
    date_match = []

    for _, player_row in new_players.iterrows():
        # Get relevant data from players
        game_idx = player_row["Game"]
        team = player_row["Team"]
        player_date = player_row["Date"]

        # Get corresponding game row from new_games
        if game_idx in new_games.index:
            game_row = new_games.loc[game_idx]
            game_hid = game_row["HID"]
            game_aid = game_row["AID"]
            game_date = game_row["Date"]

            # Check team correspondence
            team_match.append(team in [game_hid, game_aid])

            # Check date consistency
            date_match.append(player_date == game_date)
        else:
            # If the game index doesn't exist in new_games, it's an error
            team_match.append(False)
            date_match.append(False)

    # Combine results
    all_team_match = all(team_match)
    all_date_match = all(date_match)

    # Print results for debugging
    print(f"Team match for all rows: {all_team_match}")
    print(f"Date match for all rows: {all_date_match}")

    if not all_team_match:
        print("Rows with mismatched team IDs:", [i for i, match in enumerate(team_match) if not match])

    if not all_date_match:
        print("Rows with mismatched dates:", [i for i, match in enumerate(date_match) if not match])

    # Return combined results for programmatic use
    return all_team_match and all_date_match

# Call the verification function
verification_result = verify_players_and_games(new_players, new_games)

# Output overall result
if verification_result:
    print("All checks passed! The new players data aligns with the new games data.")
else:
    print("There are mismatches in the new players and games data alignment.")

Team match for all rows: True
Date match for all rows: True
All checks passed! The new players data aligns with the new games data.

In [9]:
# Step 2: Tests for continuity and consistency
def test_continual_seasons(old_games, new_games):
    old_seasons = old_games['Season'].unique()
    new_seasons = new_games['Season'].unique()
    if new_seasons.min() < old_seasons.max():
        return "Error: New games include earlier seasons than the old dataset."
    return "Seasons are continual."

def test_continual_date_range(old_games, new_games):
    old_max_date = pd.to_datetime(old_games['Date']).max()
    new_min_date = pd.to_datetime(new_games['Date']).min()
    if new_min_date <= old_max_date:
        return "Error: New games include dates that overlap or precede the old dataset."
    return "Date ranges are continual."

def test_no_new_teams(old_games, new_games):
    old_teams = set(old_games['HID']).union(set(old_games['AID']))
    new_teams = set(new_games['HID']).union(set(new_games['AID']))
    new_only_teams = new_teams - old_teams
    if new_only_teams:
        return f"Error: New games include teams not found in the old dataset: {new_only_teams}."
    return "No new teams detected."

# Perform the tests
results = {
    "Continual Seasons": test_continual_seasons(old_games, new_games),
    "Continual Date Range": test_continual_date_range(old_games, new_games),
    "No New Teams": test_no_new_teams(old_games, new_games)
}

# Print results
for test, result in results.items():
    print(f"{test}: {result}")

Continual Seasons: Seasons are continual.
Continual Date Range: Date ranges are continual.
No New Teams: No new teams detected.

In [10]:
def get_number_of_teams(dataset):
    unique_teams = set(dataset['HID']).union(set(dataset['AID']))
    return len(unique_teams)

# Example usage:
old_teams_count = get_number_of_teams(old_games)
new_teams_count = get_number_of_teams(new_games)

print(f"Number of teams in the old dataset: {old_teams_count}")
print(f"Number of teams in the new dataset: {new_teams_count}")

Number of teams in the old dataset: 39
Number of teams in the new dataset: 30

In [11]:
def get_team_intersection(old_games, new_games):
    old_teams = set(old_games['HID']).union(set(old_games['AID']))
    new_teams = set(new_games['HID']).union(set(new_games['AID']))
    return old_teams.intersection(new_teams)

def get_team_difference(old_games, new_games):
    old_teams = set(old_games['HID']).union(set(old_games['AID']))
    new_teams = set(new_games['HID']).union(set(new_games['AID']))
    difference_1_to_2 = old_teams - new_teams
    difference_2_to_1 = new_teams - old_teams
    return difference_1_to_2, difference_2_to_1

# Example usage
intersection = get_team_intersection(old_games, new_games)
difference_1_to_2, difference_2_to_1 = get_team_difference(old_games, new_games)

print(f"Intersection (common teams): {intersection}")
print(f"Teams in old dataset but not in new dataset: {difference_1_to_2}")
print(f"Teams in new dataset but not in old dataset: {difference_2_to_1}")

Intersection (common teams): {0, 2, 3, 5, 6, 11, 13, 14, 15, 16, 17, 19, 21, 23, 24, 25, 26, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 41, 42, 43}
Teams in old dataset but not in new dataset: {1, 4, 8, 12, 44, 18, 20, 22, 28}
Teams in new dataset but not in old dataset: set()

In [12]:
def get_total_teams(old_games, new_games):
    old_teams = set(old_games['HID']).union(set(old_games['AID']))
    new_teams = set(new_games['HID']).union(set(new_games['AID']))
    total_teams = old_teams.union(new_teams)
    return len(total_teams), total_teams

# Example usage
total_team_count, total_teams = get_total_teams(old_games, new_games)

print(f"Total number of unique teams across both datasets: {total_team_count}")
print(f"List of all unique teams: {total_teams}")

Total number of unique teams across both datasets: 39
List of all unique teams: {0, 1, 2, 3, 4, 5, 6, 8, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 41, 42, 43, 44}

In [18]:
all_games = pd.concat(
    [old_games, new_games]
)

In [19]:
all_games.to_csv('../data-merge-round2/games.csv')

In [ ]:
# Renumber the index in the new players dataset
new_players.index = new_players.index + old_players.index.max() + 1

Updated new players index:
Index([737116, 737117, 737118, 737119, 737120, 737121, 737122, 737123, 737124,
       737125,
       ...
       783230, 783231, 783232, 783233, 783234, 783235, 783236, 783237, 783238,
       783239],
      dtype='int64', length=46124)

In [23]:
all_players = pd.concat(
    [old_players, new_players]
)

In [26]:
all_players.to_csv('../data-merge-round2/players.csv')